[package]
name = "fir-common"
version = "0.1.0"
edition.workspace = true

license.workspace = true

[features]
default = []
user = ["aya"]

[dependencies]
aya = { workspace = true, optional = true }
aya-obj = "0.2.1"

[lib]
path = "src/lib.rs"
