name: test

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: test the building
    runs-on: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
    - name: add the target
      run: rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu
    - name: install bpf-linker
      run: cargo install bpf-linker
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
      
